<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head-->
<div th:replace="modules/head :: head" />
<body>
<!-- Navbar-->
<div th:replace="modules/navbar :: nav" />
<!-- Header-->
	<header class="py-5">
		<div class="container px-5">
			<div class="row gx-5 justify-content-center">
				<div class="text-center my-5">
					<h1 class="display-4 fw-bolder text-white mb-2">KDGames Tools</h1>
					<div class="m-lg-5 text-start">
						Welcome to KDGames website, where we offer a few game tools to help you plan your next foray!<br>
						Currently we offer level tracking for Ryzom characters.
					</div>
					<div class="m-lg-5 align-items-lg-center border p-lg-3">
						Haven't heard of Ryzom? Check it out here:<br>
						<a class="Ryzom-logo" href="https://www.ryzom.com/"><img src="/assets/ryzom_logo.png"></a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Footer -->
	<div th:replace="modules/footer :: footer" />
</body>
</html>