<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<head th:fragment="head">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="David Cady" />
	<title>KDGames</title>
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
	<!-- fontawesome.com kit -->
	<script src="https://kit.fontawesome.com/64a2aedf19.js" crossorigin="anonymous"></script>
	<!-- Core CSS -->
	<link href="/css/bootstrap-styles.css" rel="stylesheet" />
	<link href="/css/styles.css" rel="stylesheet" />
</head>

</body>
</html>